<div class="mt-3" *ngFor="let shelter of shelters">
    <div *ngIf="gender == shelter.gender">
        <div class="card mx-auto" style="width: 50rem;">
            <img class="card-img-top" src="{{shelter.image}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{shelter.name}}</h3>
                <h5 class="card-title">{{shelter.location}}</h5>
                <p class="card-text">{{shelter.description}}</p>
                <a href="{{shelter.locationUrl}}" class="btn btn-primary">Directions to here!</a>
            </div>
        </div>
    </div>

</div>